<div style="margin-left: 600px;margin-top: 70px;font-size: larger;color: crimson;">
    <label for="id">Id</label><br>
    <input id="id" type="text" placeholder="Enter Id "><br><br>
    <label for="title">Title</label><br>
    <input id="title" type="text" placeholder="Enter Title of the Book"><br><br>
    <label for="author">Author</label><br>
    <input id="author" type="text" placeholder="Enter Author Name"><br><br>
    <label for="price">Price</label><br>
    <input id="price" type="text" placeholder="Enter Price"><br><br>
    <label for="rating">Rating</label><br>
    <input id="rating" type="text" placeholder="Enter Rating 1-5"><br><br>
    <button onclick="addbooks();" style="margin-left:37px;background: rgb(77, 77, 245);color: white;border: none;border-radius: 15px;padding: 5px;height: 40px;width: 100px;">Add Book</button>
</div>